{% extends "base_ui/base.html" %}
{% load static %}

{% block start %}
<head>
  <link href="{% static 'css\style.css' %}" rel="stylesheet" type="text/css" />



<div class="login">

  <!-- <link rel="{% static 'css/login.css' %}" rel="stylesheet" type="text/css" /> -->
  <h1>Update Category</h1>

    <form  method="post" action={% url 'update_category' cate.uid %}>
      {% csrf_token %}
      {% include "base_ui/alert.html" %}
      <input type="text" name="category_name" placeholder="{{ cate.category_name }}" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Submit</button>
    </form>
</div>

</head>
  {% endblock %}

  